<h1>
  Example:  XIRC
</h1>
  <p>
    <table>
      <tr>
        <td>
          <img src="/xirc1.png">
        <td>
          <img src="/xirc2.png">
      <tr>
        <td colspan="2" align="center">
          <img src="/xirc3.png">
    </table>
  </p>
